cmd/weatherstation/weatherstation.exe
cmd/weatherstation/weatherstation
cmd/weatherstation/fyne-cross
deploy.bat
.vscode/launch.json
**/api.key
**/__debug_bin
**/fyne.syso
test/private
*.log
**/out